<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Members Only! Home.</title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/createMessage">Create New Message</a>
  <a href="/log-out">LOG OUT</a>
<% } else { %>
    <h1>Hello member! Log in please:</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log In</button>
    </form>
    <%}%>
    <a href="/sign-up">Sign Up</a>
    <% if (locals.user) {%>
    <% messages.forEach((message) => { %>
      <div class="message-div">
        <h2 class="title"><%= message.title %></h2>
        <p class="message"><%= message.text %></p>
        <% if (user.membership_status) { %> 
        <p class="username"><%= message.username %></p>
        <p class="timestamp"><%= message.timestamp %></p>
        <% } else { %>
        <p class="username">Anonymous User</p>
        <p class="timestamp">Anonymous Date</p>
        <% } %>
      </div><% }); %><% }; %>
  </body>
</html>
